# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4ff478c856f8456318917975ed00580422cdcf1ac0d7aefbad874c7c9e118c52db666c8c053afaede463b3faef4f88fd4231f3274876c7e989f7e87b0f0d9e18

test:
  secret_key_base: 437fc1fca77d7e78e8a8b2a4d487cdf932037ab1f4dbd7ec44b9e18db0febbc7fa3b923777b8e53018be9c22846824110b77373e6e4a5b3ddc2ed130e5f1da4a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
